fastapi
uvicorn[standard]
pydantic-settings
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
langchain-groq
langchain-huggingface
sentence-transformers
torch
chromadb
python-dotenv
python-multipart
pypdf
